﻿<h1>Lookup</h1>

<form class="form-horizontal">
    <div class="form-group">
        <label for="txtEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-md-4">
            <input type="email" class="form-control" id="txtEmail" placeholder="Email" ng-model="vm.email">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4 col-sm-offset-2">
            <button type="submit" class="btn btn-default" ng-click="vm.submit()">Search</button>
        </div>
    </div>

</form>

<div>
    Results!
</div>