﻿<h1>Photo</h1>
<hr/>

<form class="form-horizontal">
    <div class="form-group">
        <label for="txtEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-md-4">
            <input type="email" class="form-control" id="txtEmail" placeholder="Email" ng-model="vm.newPhoto.emailadress">
        </div>
    </div>
    <div class="form-group">
        <label for="txtFirstName" class="col-sm-2 control-label">First Name</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="txtFirstName" placeholder="First Name" ng-model="vm.newPhoto.firstname">
        </div>
    </div>
    <div class="form-group">
        <label for="txtLastName" class="col-sm-2 control-label">Last Name</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="txtLastName" placeholder="Last Name" ng-model="vm.newPhoto.lastname">
        </div>
    </div>
    <div class="form-group">
        <label for="txtZipcode" class="col-sm-2 control-label">Zipcode</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="txtZipcode" placeholder="Zipcode" ng-model="vm.newPhoto.zipcode">
        </div>
    </div>
    <div class="form-group">
        <label for="txtBirthday" class="col-sm-2 control-label">Birthday</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="txtBirthday" placeholder="Birthday" ng-model="vm.newPhoto.birthday">
        </div>
    </div>
    <div class="form-group">
        <label for="txtBirthday" class="col-sm-2 control-label">Child Gender</label>
        <div class="col-md-4">
            <label class="radio-inline">
                <input type="radio" name="childGender" id="childGender" value="M" ng-model="vm.newPhoto.childgender"> Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="childGender" id="childGender" value="F" ng-model="vm.newPhoto.childgender"> Female
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="txtChildFirstName" class="col-sm-2 control-label">Child First Name</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="txtChildFirstName" placeholder="Child First Name" ng-model="vm.newPhoto.childfirstname">
        </div>
    </div>
    <div class="form-group">
        <label for="txtChildLastName" class="col-sm-2 control-label">Child Last Name</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="txtChildLastName" placeholder="Child Last Name" ng-model="vm.newPhoto.childlastname">
        </div>
    </div>
    <div class="form-group">
        <label for="txtChildTeam" class="col-sm-2 control-label">Child Team</label>
        <div class="col-md-4">
            <input type="text" class="form-control" id="txtChildTeam" placeholder="Child Team" ng-model="vm.newPhoto.childteam">
        </div>
    </div>
    <div class="form-group">
        <label for="childPhoto" class="col-sm-2 control-label">Child Photo</label>
        <div class="col-md-4">
            <input type="file" id="childPhoto" file-model="vm.childphoto">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-sm-offset-2">
            <button type="submit" class="btn btn-default" ng-click="vm.submit()">Submit</button>
        </div>
    </div>
    
</form>